html, body {
    height: 100%;
}

body {
    /*background-color: rgb(170, 170, 170);*/
    background-color: black;
    text-shadow: rgb(0, 0, 0) 1px 0px 0px, rgb(0, 0, 0) 0px -1px 0px, rgb(0, 0, 0) 0px 1px 0px, rgb(0, 0, 0) -1px 0px 0px;
    font-family: Bangers, cursive;
    color: white;
    /*background-image: url(person.gif), url(city.jpg);*/
    /*background-image: url(mob.gif);*/
    background-image: url(city.gif);
    background-repeat: no-repeat;
    background-position: right bottom;
}

.btn-lg {
    margin-top: 10px;
    width: 150px;
    font-size: 22px;
}

.player-list .tile {
    margin: 7px;
    font-size: 22px;
    color: white;
    float: left;
}

    .player-list .tile:hover {
        background-color: rgb(30, 144, 255);
        cursor: pointer;
    }

.player-list .name {
    padding: 0.7em;
}

.highlight {
    color: rgb(255, 255, 224);
}

.opponents {
    color: rgb(255, 255, 224);
    text-align: center;
    text-shadow: 5px 0 0 #000, 0 -5px 0 #000, 0 5px 0 #000, -5px 0 0 #000;
}

    .opponents .player {
        line-height: 140px;
        min-height: 75px;
        font-size: 122px;
    }

    .opponents .vs {
        font-size: 35px;
    }

    .opponents .one {
        margin-left: 180px;
    }

    .opponents .two {
        margin-right: 180px;
    }

    .opponents .one.slide {
        margin-right: 180px;
        margin-left: 0;
    }

    .opponents .two.slide {
        margin-left: 180px;
        margin-right: 0;
    }

.winner {
    font-size: 52px;
    text-align: center;
    margin-top: 20px;
}

    .winner .text {
        font-size: 32px;
    }

    .winner .title {
        color: rgb(255, 255, 224);
    }

.combat-log {
    font-size: 22px;
    margin-bottom: 40px;
    text-align: center;
}


    .combat-log .item {
        height: 22px;
    }

    .combat-log div:first-of-type {
        height: 45px;
        font-size: 32px;
        margin-bottom: 10px;
        margin-top: 20px;
    }

    .combat-log .type {
        color: rgb(255, 255, 224);
    }

    .combat-log .damage {
        color: red;
    }

.transition-short {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.transition-long {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.outline-inward {
    display: inline-block;
    position: relative;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

    .outline-inward:before {
        content: '';
        position: absolute;
        border: #e1e1e1 solid 4px;
        top: -16px;
        right: -16px;
        bottom: -16px;
        left: -16px;
        opacity: 0;
        -webkit-transition-duration: .3s;
        -moz-transition-duration: .3s;
        -ms-transition-duration: .3s;
        -o-transition-duration: .3s;
        transition-duration: .3s;
        -webkit-transition-property: top, right, bottom, left;
        -moz-transition-property: top, right, bottom, left;
        -ms-transition-property: top, right, bottom, left;
        -o-transition-property: top, right, bottom, left;
        transition-property: top, right, bottom, left;
    }

    .outline-inward:hover:before {
        top: -8px;
        right: -8px;
        bottom: -8px;
        left: -8px;
        opacity: 1;
    }
