<div class="container-fluid">
    <div class="row">
        <div class="col-md-7">
            <div class="opponents">
                <div class="player one transition-long" data-ng-class="{slide: model.players.playerOne != undefined}">{{ model.players.playerOne || 'Hero' }}</div>
                <div class="vs">VS</div>
                <div class="player two transition-long" data-ng-class="{slide: model.players.playerTwo != undefined}">{{ model.players.playerTwo || 'Villain' }}</div>
            </div>

            <div class="winner" data-ng-show="model.winner.name"><span class="text">Winner: </span>{{ model.winner.name }} <span class="title">{{ model.winner.title }}</span></div>

            <div class="combat-log">
                <div class="transition-short item" data-ng-repeat="item in model.combatLog | orderBy: '-index'">
                    <span>{{ item.attacker.name }}</span>
                    <span>used</span>
                    <span class="type">{{ item.move }}</span>
                    <span>on</span>
                    <span>{{ item.defender.name }}</span>
                    <span>for</span>
                    <span class="damage">{{ item.score }}</span>
                    <span>damage</span>
                </div>
            </div>
        </div>

        <div class="col-md-5">
            <h2>Select <span class="highlight">two</span> of these gentlemens</h2>
            <div class="player-list clearfix">
                <div class="tile outline-inward transition-short" data-ng-repeat="player in model.players.all" data-ng-click="model.players.select(player)">
                    <div class="name">{{ player }}</div>
                </div>
            </div>

            <button class="btn btn-lg btn-default" data-ng-click="model.fight()" data-ng-disabled="!model.players.ready">Duel!</button>
        </div>
    </div>
</div>